
:root {
    --shapes-dark: #121214;
    --pure-white: #FFFFFF;
    --gray: #A1A1AA;
    --haiti: #2A2634;
    --card-gradient: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/Fundo.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: var(--shapes-dark);
    font-family: 'Inter', sans-serif;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;

}

h2 {
    font-size: 24px;
    font-weight: 900px;
    color: var(--pure-white);
}

h3 {
    font-size: 16px;
    font-weight: 400;
    color: var(--gray);
    margin: 0.5rem 0 2rem 0;
}

/* Animation */

header div {
    animation: fromTop .3s .4s backwards;
    -webkit-animation: fromTop .3s .4s backwards;
}


    @keyframes fromTop {
            from {
                opacity: 0;
                transform: translateY(-30px);
                -webkit-transform: translateY(-30px);
                -moz-transform: translateY(-30px);
                -ms-transform: translateY(-30px);
                -o-transform: translateY(-30px);
        }

            to {
                opacity: 1;
                transform: translateY(0);
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
        }
    }

main section {
    animation: fromBottom .7s;
    -webkit-animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .3s;
}

main section:nth-child(3) {
    animation-delay: .6s;
}

    @keyframes fromBottom {
        from {
            opacity: 0;
            transform: translateY(-30px);
            -webkit-transform: translateY(-30px);
            -moz-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            -o-transform: translateY(-30px);
    }

        to {
            opacity: 1;
            transform: translateY(0);
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
    }
    }